.logo{
    font-size: 25px;
    float: left;

}

.links{
    font-size: 20px;
    float: right;
    color: gray;
    display: inline-block;
}
.links span{
    margin: 10px;
    
}

main > div > h1{
    clear: both;
    padding-top: 20px;
    text-align: center;
    
}
main > .toggle{
    text-align: center;
    
}

main > div > button{
    padding: 1px;
    background-color: aqua;
    border: 1px solid black;
}

main > div > p{
    padding-top: 10px;

}
